<div class="container table-container">
  <div class="card col-md-8 col-12 offset-md-2">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr class="text-center">
            <th>Id</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Completado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let item of tasks" class="table-bordered">
            <td>{{ item.id }}</td>
            <td class="mayus">{{ item.title }}</td>
            <td class="mayus">
              {{ item.description == null ? "-" : item.description }}
            </td>
            <td align="center">
              <input
                type="checkbox"
                [(ngModel)]="item.completed"
                (change)="completeTask(item.id)"
              />
            </td>
            <td align="center">
              <div class="btn-group" role="group">
                <button
                  class="btn btn-warning"
                  [routerLink]="['/']"
                  [queryParams]="{ mode: 'EDIT', task_id: item.id }"
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteTask(item.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <hr />
      <div class="text-center">
        <a class="btn btn-primary" routerLink="/">Ir a Tareas</a>
      </div>
    </div>
  </div>
</div>
