<div class="container form-container">
  <div class="card col-md-4 col-12 offset-md-4">
    <div class="card-body">
      <div class="card-title">
        <h5 class="card-title text-center">
          {{ mode == "EDIT" ? "EDITAR" : "REGISTRAR" }} TAREA
        </h5>
      </div>

      <div class="mb-3">
        <label for="inpTitle" class="form-label">Título</label>
        <input
          type="text"
          name="title"
          class="form-control mayus"
          id="inpTitle"
          [(ngModel)]="task.title"
        />
      </div>
      <div class="mb-3">
        <label for="txtDescripcion" name="description" class="form-label"
          >Descripción</label
        >
        <textarea
          class="form-control mayus"
          name="descripcion"
          id="txtDescripcion"
          rows="2"
          [(ngModel)]="task.description"
        ></textarea>
      </div>
      <div class="text-center">
        <div class="btn-group" role="group">
          <button class="btn btn-primary" (click)="saveTask()">GUARDAR</button>
          <button
            class="btn btn-danger"
            (click)="clean()"
            *ngIf="mode == 'EDIT'"
          >
            CANCELAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
